/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.10.2015, 9:28:11
    Author     : viktor
*/
.BB{
    background: black;
    margin-left: 25%;
}
.BM{
    background: black;
    margin-left: 0%;
}
#title{
    margin-left: 0%;
}
form{
    
    
    background: black;
}
.KN{
    margin-left: 2%;
    outline: none;

}

.KP{
    margin-left: 0%;
    outline: none;
        height: 30%;
    width: 30%;
}
.KL{
    margin-left: 0%;
    outline: none;
        height: 85%;
    width: 85%;
}
.KR{
     margin-left: 0%;
    outline: none;
        height: 10%;
    width: 10%;
}
